{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.about }}
    {{ if .enable }}
    {{ "<!-- About Section Start -->" | safeHTML }}
    <section class="about section-sm" id="about">
      <div class="container about-container">
            {{ range .item }}
                {{ if .positionRight }}
                              <span class="border border-about"></span>
                    <div class="row mt-50 justify-content-center">
                        <div class="col-md-5 col-md-5 col-sm-12">
                            <div class="content">
                                <h2>{{ .title }}</h2>
                                <p>
                                    {{ .description }}
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 col-sm-12 text-center">
                            <img src="{{ .image | absURL }}" class="img-fluid img-about" alt="about-image">
                        </div>
                    </div>
                {{ else }}
                              <span class="border border-about"></span>
                    <div class="row mb-50 justify-content-center">
                        <div class="col-md-5 col-sm-12 text-center">
                            <img src="{{ .image | absURL }}" class="img-fluid img-about" alt="about-image">
                        </div>
                        <div class="col-md-5 col-sm-12">
                            <div class="content">
                                <h2>{{ .title }}</h2>
                                <p>
                                    {{ .description }}
                                </p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
        </div>
    </section>
    {{"<!-- About section End -->" | safeHTML}}
    {{ end }}
{{ end }}
