{{ if .Site.Data.clients.enable }}
{{ "<!-- Client Section Start -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                {{ with .Site.Data.clients.image }}<img class="img-fluid shadow rounded" src="{{ . | absURL }}" alt="service-image"/>{{ end }}
            </div>
            <div class="col-md-6 align-self-center">
                {{ with .Site.Data.clients.title }}<h2>{{.}}</h2>{{ end }}
                {{ with .Site.Data.clients.description }}<p>{{.}}</p>{{ end }}
                <div class="row">
                    <div class="col-md-6">
                        <ul class="color-gray client-service-list">
                            {{ range .Site.Data.clients.servicelist }}
                            <li>
                                <i class="tf-ion-android-checkbox-outline"></i> {{ .name }}
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="clients-slider" class="clients-logo-slider">
                    {{ range .Site.Data.clients.clientLogo }}
                    <img src="{{ .image | absURL }}" alt="client-logo">
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Client Section End -->" | safeHTML }}
{{ end }}