{{ partial "header.html" . }}

{{ partial "navigation.html" . }}

<section class="page-404 text-center d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>404</h1>
        <h2>Page Not Found</h2>
        <p>Sorry, but the page you were trying to view does not exist.</p>
        <a href="{{ .Site.BaseURL }}" class="btn btn-main mt-20">Go Home</a>
      </div>
    </div>
  </div>
</section>
	

{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ "plugins/jquery/dist/jquery.min.js" | absURL }}"></script>
{{ "<!-- Bootstrap -->" | safeHTML }}
<script src="{{ "plugins/bootstrap/dist/js/popper.min.js" | absURL }}"></script>
<script src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL }}"></script>
{{ "<!-- Parallax -->" | safeHTML }}
<script src="{{ "plugins/parallax/jquery.parallax-1.1.3.js" | absURL }}"></script>
{{ "<!-- lightbox -->" | safeHTML }}
<script src="{{ "plugins/lightbox2/dist/js/lightbox.min.js" | absURL }}"></script>
{{ "<!-- Slick Carousel -->" | safeHTML }}
<script src="{{ "plugins/slick-carousel/slick/slick.min.js" | absURL }}"></script>
{{ "<!-- Portfolio Filtering -->" | safeHTML }}
<script src="{{ "plugins/mixitup/dist/mixitup.min.js" | absURL }}"></script>
{{ "<!-- Smooth Scroll js -->" | safeHTML }}
<script src="{{ "plugins/smooth-scroll/dist/js/smooth-scroll.min.js" | absURL }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
{{ "<!-- Custom js -->" | safeHTML }}
<script src="{{ "js/script.js" | absURL }}"></script>

</body>

</html>
